CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_UART_NS16550=y
CONFIG_GEN_IRQ_VECTOR_TABLE=y
CONFIG_LINKER_USE_RELAX=n
CONFIG_ROM_START_OFFSET=0x80
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=12500000
